// minixs.less
// Mixins
// =============================================================


// Import
// ======
@import 'palettes.less';
@import 'variables.less';


// Typography
// ==========
.font-normal() {
    font-family: @base-font;
}
.font-awesome() {
    font-family: 'FontAwesome';
}
.base-font() {
    font-family: @base-font;
    font-size: @base-font-size;
    color: @base-color;
}

// Post
// ====
.post-header() {

}
