// palette.less
// Palette
// =============================================================

// Blue
// =============================================================
@palette-blue-list:
    #e3f2fd, #bbdefb, #90caf9, #64b5f6, #42a5f5,
    #2196f3, #1e88e5, #1976d2, #1565c0, #0d47a1,
    #82b1ff, #448aff, #2979ff, #2962ff,
    #ffffff, #212121;

@palette-blue-50:  extract(@palette-blue-list, 1);
@palette-blue-100: extract(@palette-blue-list, 2);
@palette-blue-200: extract(@palette-blue-list, 3);
@palette-blue-300: extract(@palette-blue-list, 4);
@palette-blue-400: extract(@palette-blue-list, 5);
@palette-blue-500: extract(@palette-blue-list, 6);
@palette-blue-600: extract(@palette-blue-list, 7);
@palette-blue-700: extract(@palette-blue-list, 8);
@palette-blue-800: extract(@palette-blue-list, 9);
@palette-blue-900: extract(@palette-blue-list, 10);

@palette-blue-a100: extract(@palette-blue-list, 11);
@palette-blue-a200: extract(@palette-blue-list, 12);
@palette-blue-a400: extract(@palette-blue-list, 13);
@palette-blue-a700: extract(@palette-blue-list, 14);

@palette-blue-alt-zone:  5;
@palette-blue-alt-light: extract(@palette-blue-list, 15);
@palette-blue-alt-dark:  extract(@palette-blue-list, 16);


// Grey
// =============================================================
@palette-grey-list:
    #fafafa, #f5f5f5, #eeeeee, #e0e0e0, #bdbdbd,
    #9e9e9e, #757575, #616161, #424242, #212121,
    #ffffff, #212121;

@palette-grey-50:  extract(@palette-grey-list, 1);
@palette-grey-100: extract(@palette-grey-list, 2);
@palette-grey-200: extract(@palette-grey-list, 3);
@palette-grey-300: extract(@palette-grey-list, 4);
@palette-grey-400: extract(@palette-grey-list, 5);
@palette-grey-500: extract(@palette-grey-list, 6);
@palette-grey-600: extract(@palette-grey-list, 7);
@palette-grey-700: extract(@palette-grey-list, 8);
@palette-grey-800: extract(@palette-grey-list, 9);
@palette-grey-900: extract(@palette-grey-list, 10);

@palette-blue-alt-zone:  6;
@palette-blue-alt-light: extract(@palette-blue-list, 11);
@palette-blue-alt-dark:  extract(@palette-blue-list, 12);


// Blue Grey
// =============================================================
@palette-blue-grey-list:
    #eceff1, #cfd8dc, #b0bec5, #90a4ae, #78909c,
    #607d8b, #546e7a, #455a64, #37474f, #263238,
    #ffffff, #212121;

@palette-blue-grey-50:  extract(@palette-blue-grey-list, 1);
@palette-blue-grey-100: extract(@palette-blue-grey-list, 2);
@palette-blue-grey-200: extract(@palette-blue-grey-list, 3);
@palette-blue-grey-300: extract(@palette-blue-grey-list, 4);
@palette-blue-grey-400: extract(@palette-blue-grey-list, 5);
@palette-blue-grey-500: extract(@palette-blue-grey-list, 6);
@palette-blue-grey-600: extract(@palette-blue-grey-list, 7);
@palette-blue-grey-700: extract(@palette-blue-grey-list, 8);
@palette-blue-grey-800: extract(@palette-blue-grey-list, 9);
@palette-blue-grey-900: extract(@palette-blue-grey-list, 10);

@palette-blue-grey-alt-zone:  4;
@palette-blue-grey-alt-light: extract(@palette-blue-grey-list, 11);
@palette-blue-grey-alt-dark:  extract(@palette-blue-grey-list, 12);


// Black / White
// =============================================================
@palette-bw-list:
    #000000, #ffffff;

@palette-black:         extract(@palette-bw-list, 1);
@palette-white:         extract(@palette-bw-list, 2);