// global.less
// Global style
// =============================================================


// Import
// ======
@import 'variables.less';
@import 'mixins.less';

@font-face {
    font-family: 'circular';
    src: url('../fonts/circular.eot');
    src: url('../fonts/circular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/circular.woff2') format('woff2'),
         url('../fonts/circular.woff') format('woff'),
         url('../fonts/circular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
// @font-face {
//     font-family: 'max-pinjohn';
//     src: url('../fonts/max-pinjohn.eot');
//     src: url('../fonts/max-pinjohn.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/max-pinjohn.woff2') format('woff2'),
//          url('../fonts/max-pinjohn.woff') format('woff'),
//          url('../fonts/max-pinjohn.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

body {
    .base-font();
}

a {
    color: @link-color;
    &:active,
    &:focus,
    &:hover {
        color: lighten(@link-color, 10%);
    }
}
.title {
    font-family: 'circular';
}

// Bootstrap Customize
// ===================
.nav {
    & > li {
        & > a {
            &:active,
            &:focus,
            &:hover {
                background-color: transparent;
            }
        }
    }
}
.page-header {
    border: 0;
}


// FontAwesome
// ===========
.fa {
}

// Header
// ======
.site-header {
    font-family: 'circular';
    font-weight: bold;
    background-image: url(img/bg/main-bg.png);
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: 100%;
    .site-header-inner {
        background-image: url(img/bg/header-navbar-bg.png);
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .navbar-header {
        float: none;
    }
    .navbar {
        .navbar-brand {
            color: #7c868f;
            font-size: 28px;
            display: block;
            float: none;
            height: auto;
            max-width: 320px;
            text-align: center;
            margin: 0 auto;
            .logo {
                display: block;
                width: 70px;
                margin: 5px auto;
                img {
                    margin: 0 auto;
                }
            }
        }
        a {
            color: #6696cc;
            text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
        }
    }
    nav {
        font-size: 22px;
        z-index: 1010;
        &.primary {
            background: rgba(255, 255, 255, 0.5);
            border-bottom: solid 1px rgba(255, 255, 255, 0.85);
        }
        .open {
            a {
                &:active,
                &:focus,
                &:hover {
                    background: rgba(255, 255, 255, 0.5);
                }
            }
        }
        .dropdown-menu {
            font-size: 20px;
        }
    }
    .navbar-toggle {
        padding-right: 0;
    }
    .icon-bar {
        background: #7c868f;
    }
}
.site-header {
    height: 340px;
}
.hero {
    color: #ffffff;
    font-family: 'circular';
    font-weight: bold;
    margin-top: -140px;
    height: 60px;
    z-index: 1000;
    .description {
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    }
}
.site-description-text {
    font-size: 60px;
}

// Footer
// ======
.site-footer {
    background: #ffffff;
    padding: @space-lg 0;
    text-align: center;
    .site-title {
        font-weight: bold;
    }
    .address,
    .copy-right {
        font-size: 12px;
    }
    .address {
        margin-bottom: @space;
    }
    .facebook-like {
        margin-top: @space;
    }
}

// Home
// ====
body.home {
    background-position: 50% 0;
    .site-header {
        height: 800px;
    }
    .hero {
        margin-top: -190px;
    }
    .title-bar {
        .title {
            font-size: 28px;
            font-weight: bold;
            margin: 0;
            padding: @space 15px;
        }
    }
    .entry-content {
        padding: @space 15px;
    }
    .col-intro {
        float: right;
        .img-wrapper {
            border-radius: 320px;
            border: solid 2px rgb(255, 255, 255);
            overflow: hidden;
            max-width: 160px;
            margin: 0 auto;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        }
        .intro-box {
            margin-bottom: @space-lg;
            .entry-content {
                color: @primary-color-alt;
                background: @primary-color;
            }
            .title-bar {
                color: @secondary-color-alt;
                background: @secondary-color-light;
            }
        }
        .activities-box {
            margin-bottom: @space-lg;
            .img-wrapper {
                border: solid 2px @primary-color;
            }
        }
    }
    .activities-box,
    .col-news {
        .entry-content {
            background: #ffffff;
        }
        .title-bar {
            .icon {
                float: right;
                opacity: 0.4;
            }
        }
        .date {
            font-size: 12px;
            a {
                color: @secondary-color;
            }
        }
        .news-content {
            a {
                color: @secondary-color-dark;
            }
        }
        li,
        .post {
            &:not(:last-child) {
                margin-bottom: @space;
                padding-bottom: @space;
            }
        }
    }
    .activities-box {
        .title {
            color: @primary-color;
        }
        .activity-title {
            font-size: 16px;
            margin: 0 0 @space 0;
        }
        .entry-content {
            &:not(:last-child) {
                margin-bottom: @space;
            }
        }
        a {
            color: #666666;
        }
    }
    .col-news {
        .title-bar {
            color: #ffffff;
            background: @primary-color;
        }
        li {
            &:not(:last-child) {
                background: url(img/bg/list-separator.png) 0 100% repeat-x;
            }
        }
    }
}

// Page Content
// ============
.page-content {
    background: url(img/bg/content-bg.png) 0 0 repeat;
    padding: @space-lg 0 (@space-lg * 2) 0;
}

// Category
// ========
.category-title-bar {
    background-color: rgba(255, 255, 255, 0.55);
    .title {
        font-size: 44px;
        font-weight: bold;
        margin: 0;
        padding: @space-sm 0;
        small {
            display: block;
        }
    }
    .icon {
        float: right;
        opacity: 0.4;
    }
}

// Content
// =======
.post-entry-main {
    margin-bottom: @space-lg;
    .article-excerpt,
    .article-content,
    .article-tools {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 15px;
        padding: 15px;
    }
    header {
        padding: @space 0 @space-sm 0;
        margin-bottom: @space;
    }
    .title {
        font-weight: bold;
        margin: 0;
    }
    .date {
        font-size: 12px;
    }
}
.article-excerpt {
    min-height: 180px;
    background-image: url(img/bg/list-separator.png);
    background-position:  0 100%;
    background-repeat: repeat-x;;
    .title {
        font-size: 32px;
        a {
            text-decoration: none;
        }
    }
    .feature-img {
        float: right;
        margin-top: @space;
        margin-bottom: @space-lg;
        img {
            width: 100%;
            height: auto !important;
        }
    }
}
.article-content {
    min-height: 320px;
    margin-bottom: @space-lg;
    header {
        background-image: url(img/bg/list-separator.png);
        background-position:  0 100%;
        background-repeat: repeat-x;;
    }
    .title {
        font-size: 54px;
    }
}

// Sidebar
// =======
.sidebar {
    .col-entry-list {
        .entry-content {
            background-color: rgba(255, 255, 255, 0.55);
        }
        .title-bar {
            color: #ffffff;
            background: @primary-color;
            .title {
                font-size: 24px;
                font-weight: bold;
                margin: 0;
                padding: @space-sm 15px;
            }
            .icon {
                float: right;
                opacity: 0.4;
            }
        }
        .entry-content {
            padding: @space 15px;
        }
        .date {
            font-size: 12px;
            a {
                color: @secondary-color;
            }
        }
        .news-content {
            a {
                color: @secondary-color-dark;
            }
        }
        li,
        .post {
            &:not(:last-child) {
                margin-bottom: @space;
                padding-bottom: @space;
            }
        }
        li {
            &:not(:last-child) {
                background: url(img/bg/list-separator.png) 0 100% repeat-x;
            }
        }
    }
}

// Navigation
// ==========
.post-navigation {
}

// Comments
// ========
.comments {
    .title {

    }
    .comment-list {

    }
}

// Responsive
// ==========

// Screen: Above MD
// ================
@media (min-width: @screen-md) {
    .site-header {
        background-size: 100%;
    }
    body.home {
        .col-news {
            margin-top: -92px;
        }
        .activities-box {
            .content-list {
                padding-left: 80px;
            }
            .post {
                margin-left: -80px;
            }
        }
    }
}


// Screen: Below MD
// ================
@media (max-width: @screen-md) {
    .site-header {
        background-size: @screen-md;
        .site-header-inner {
            background: rgba(255, 255, 255, 0.7);
            .navbar{
                border-bottom: solid 1px rgba(255, 255, 255, 0.5);
            }
        }
    }
    .site-description-text {
        font-size: 40px;
    }
     body.home {
        .site-header {
            height: 520px;
        }
        .hero {
            margin-top: -120px;
        }
    }
}


// Screen: Above SM
// ================
@media (min-width: @screen-sm) {
    .site-header {
        nav {
            .nav,
            .nav li {
                float: none;
            }
            .nav {
                display: block;
                text-align: center;
                > li {
                    display: inline-block;
                    margin-right: -8px;
                }
                a {
                    padding-top: 8px;
                    padding-bottom: 8px;
                }
            }
        }
    }
    .page-content {
        min-height: 480px;
    }
}


// Screen: Below SM
// ================
@media (max-width: @screen-xs) {
    .site-header {
        height: 240px;
        background-size: @screen-md;
        .navbar {
            .navbar-brand {
                font-size: 24px;
                max-width: 240px;
                padding: @space-sm 0;
                .logo {
                    width: 50px;
                }
            }
        }
        nav {
            &.primary {
                background: rgba(255, 255, 255, 0.95);
            }
        }
    }
    body.home {
        .site-header {
            height: 470px;
        }
        .hero {
            margin-top: -100px;
        }
        .title-bar {
            .title {
                font-size: 24px;
            }
        }
        .intro-box {
            margin-top: 60px;
            .img-wrapper {
                margin-top: -80px;
                margin-bottom: @space;
            }
        }
    }
    .hero {
        height: 40px;
        margin-top: -75px;
    }
    .site-description-text {
        font-size: 28px;
        line-height: 0.65;
    }
}
