// variable.less
// Global variables and mixins
// =============================================================


// Import
// ======
@import 'palettes.less';
@import 'fonts.less';


// Screen sizes
// ============
@screen-xs:         480px;
@screen-md:         992px;
@screen-sm:         768px;
@screen-lg:         1200px;

@screen-xs-min:     @screen-xs;
@screen-sm-min:     @screen-sm;
@screen-md-min:     @screen-md;
@screen-lg-min:     @screen-lg;

@screen-xs-max:     (@screen-sm-min - 1);
@screen-sm-max:     (@screen-md-min - 1);
@screen-md-max:     (@screen-lg-min - 1);

@screen-phone:      @screen-xs-min;
@screen-tablet:     @screen-sm-min;
@screen-desktop:    @screen-md-min;
@screen-lg-desktop: @screen-lg-min;


// Color Scheme
// ============
@body-bg:               @palette-blue-grey-100;

@primary-color:         #fd837e;
@primary-color-light:   #fd837e;
@primary-color-dark:    #fd837e;
@primary-color-alt:     #ffffff;

@secondary-color:       #ff9933;
@secondary-color-light: #fdffe0;
@secondary-color-dark:  #ff6600;
@secondary-color-alt:   #ff3e36;

@link-color:            @secondary-color;
@title-color:           @secondary-color-dark;
@small-color:           @primary-color-light;

// Typography
// ==========
@base-font:         sans-serif;
@base-color:        @palette-grey-800;
@base-font-size:    14px;

// WordPress: Admin
// ================
@wp-admin-bar:    32px;
@wp-admin-bar-sm: 46px;

// Layout
// ======
@fix-header-height: 0;
@space:             15px;
@space-sm:          ceil( @space / 2 );
@space-lg:          ceil( @space * 2 );
